<template name="notFound">
    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12">
            <div class="text-center m-lg p-lg">
                <h1>Страница не найдена</h1>
                <p>
                    Страница, которую Вы запрашиваете, либо недоступна для Вас либо не найдена.
                </p>
                <br/>
                <a href="{{pathFor route='.'}}" class="btn btn-sm btn-primary">Назад в Школу</a>
            </div>
        </div>
    </div>
</template>
