<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
              <li class="nav-header">
                  <div class="dropdown profile-element"> <span>
                          <img alt="image" class="img-circle" src="img/shestov_small_logo.png" />
                           </span>
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Михаил Шестов</strong>
                          </span> <span class="text-muted text-xs block">Основатель <b class="caret"></b></span> </span> </a>
                      <ul class="dropdown-menu animated fadeInRight m-t-xs">
                          <li><a href="{{pathFor route='profile'}}">Профиль</a></li>
                          <li><a href="{{pathFor route='contacts'}}">Контакты</a></li>
                          <li class="divider"></li>
                          <li><a href="{{pathFor route='login'}}">Выйти</a></li>
                      </ul>
                  </div>
                  <div class="logo-element">
                      SSP
                  </div>
              </li>
                <li class="{{isActiveRoute regex='school'}}">
                    <a href="{{pathFor route='school'}}"><i class="fa fa-graduation-cap"></i> <span class="nav-label">Школа</span> </a>
                </li>          <li class="{{isActiveRoute regex='chat'}}">
                    <a href="{{pathFor route='chat'}}"><i class="fa fa-weixin"></i> <span class="nav-label">Чат</span> </a>
                </li>
            </ul>

        </div>
    </nav>
</template>
